@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["About"];
}
<h1>@ViewData["Title"]</h1>

<p>@Localizer["Author"]: <a href="https://github.com/stelmakh">@Localizer["Volodymyr Stelmakh"]</a></p>
